.payment-page{
background:#141414;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.payment-box{
background:#1f1f1f;
padding:30px;
border-radius:6px;
text-align:center;
}

.payment-box button{
margin-top:15px;
padding:10px 20px;
border:none;
background:#e50914;
color:white;
cursor:pointer;
border-radius:4px;
}